# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:
Python.**
R.
SQL.
Java.
Julia.
Scala.
C/C++
JavaScript.

**Some of the commonly used libraries used by Data Scientists include:**
1.TensorFlow
2.NumPy
3.SciPy 
4.Pandas
5.Matplotlib 
6.Keras
7.SciKit-Learn
8.PyTorch
9.Scrapy
10.BeautifulSoup

**Data Science Tools**
>TensorFlow.
>NumPy.
>SciPy.
>Pandas.
>Matplotlib.
>Keras.
>SciKit-Learn.
>PyTorch.

**Below are a few examples of evaluating arithmetic expressions in Python.**

>>> eval("2 ** 8")
256
>>> eval("1024 + 1024")
2048
>>> eval("sum([8, 16, 32])")
56
>>> x = 100
>>> eval("x * 2")
200
>>print("HI")

In [1]:
#**This a simple arithmetic expression to mutiply then add integers**
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

In [4]:
#List popular languages for Data Science
#Objectives:
list =["R","SQL.","Java.","Julia."]

## MENNA
Author